/*
 * Filename: \client\src\components\Pagination\style.module.css
 * Created Date: Sunday, January 10th 2021
 * Author: Kenny Gosai
 */

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #39f;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    font-size: 1em;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
  }
  
  .pagination button.active {
    background-color: #39f;
    color: white;
    border-radius: 5px;
  }
  
  .pagination button:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
  